*{
    outline: none;
    box-sizing: border-box;
}

img{
    display: inline;
}

body {
    font-family: 'Source Serif Pro', serif;
    background-attachment: fixed;
    box-sizing: ;
}

#Body{
    overflow-x:hidden;
}

.mouseMove{
    cursor: grab;
}
.mouseMove:active{
    cursor: grabbing;
}

#Galery {
    column-count: 4;
}

#PhotoContainer, button{
    transition: 0.2s ease-in-out;
}

#PhotoContainer:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFFFFF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2d3748; 
  }

.presentationContainer{
    height: 100vh;
}

.headerContainer {
    height: 600px;
}

.nameBox{
    height: 60px;
    top: 55px;
    left: 25%;
    right: 25%;
}

.imgHolder{
    background-image: url("../img/IMG_6031\(Edited\).jpg");

    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.aboutCard {
    width: 24%;
    transition: 0.2s ease-in-out;
}

.workCard {
    width: 49%;
    height: 450px;
    vertical-align: bottom;
    /* justify-content: space-between; */
}

.resp{
    height: 50%;
}

@media only screen and (max-width: 900px) {

    .aboutCard {
        width: 48%;
    }

    .workCard {
        height: auto;
        width: 48%;
    }
}

@media only screen and (max-width: 770px){
    .aboutCard {
        width: 48%;
        margin: 5px;
    }

    .workCard {
        height: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 517px){
    .aboutCard {
        /* width: 47%; */
        width: auto;
        margin: 6px;
    }

    #Galery {
        column-count: auto;
    }
}

@media only screen and (max-width: 400px) {
    .nameBox {
        left: 0%;
        right: 0%;
    }
    .aboutCard,
    .workCard {
        width: auto;
    }
    .middleAlign {
        padding: 0;
    }
    .testimony{
        height: auto;
        padding-top: 0%;
    }

    .presentationContainer{
        height: auto;
        padding-top: 15%;
    }
}

