body {
    font-family: 'Source Serif Pro',
        serif;
}

.headerContainer {
    height: 600px;
}

.testimonyCover{
    padding-top: 5%;
}

.testimony{
    height: 400px;
    padding-top: 20%;
}

.nameBox{
    height: 60px;
    top: 55px;
    left: 25%;
    right: 25%;
}

.imgHolder{
    background-image: url("../img/IMG_6031\(Edited\).jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutCard {
    width: 24%;
}

.workCard {
    width: 49%;
    height: 450px;
    vertical-align: bottom;
    /* justify-content: space-between; */
}

.resp{
    height: 50%;
}

.programTitle{
    padding: 50px 0;
}

@media only screen and (max-width: 400px) {
    .nameBox {
        left: 0%;
        right: 0%;
    }
    .aboutCard,
    .workCard {
        width: 100%;
    }
    .programTitle{
        padding: 0;
    }
    .testimony{
        height: auto;
        padding-top: 0%;
    }
}